<%# locals: (error:) %>

<%= render "components/card" do %>
  <%= render "components/card/header" do %>
    <%= render "components/card/title", text: "Actions" %>
  <% end %>

  <%= render "components/card/content" do %>
    <div class="space-y-3">
      <%= link_to solid_errors.root_path, data: { component: "button", variant: "outline" }, class: "w-full justify-center" do %>
        <%= icon_for(:arrow_left, class: "size-4") %>
        <span>Back to Errors</span>
      <% end %>

      <% if error.resolved? %>
        <%= render "solid_errors/errors/delete_button", error: error %>
      <% else %>
        <%= render "solid_errors/errors/resolve_button", error: error %>
      <% end %>
    </div>
  <% end %>
<% end %>
